/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./styles/card.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  transform-origin: center;
  text-align: center;
  width: fit-content;
  margin: auto;
}
  
.card.flipped {
  transform: rotateY(180deg);
}

.custom-container {
  width: 30%; 
  margin: 0 auto; 
}

